@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* common */
.inner {
  max-width: 1440px;
  margin: 0 auto;
}
.br {
  display: block;
}
h2 {
  font-size: 42px;
  font-family: 'Roboto Serif', serif;;
}


/* ////////// video ////////// */
.mainvideo {
  width: 100%;
  margin-top: 80px;
}
.video {
  position: relative;
  width: 100;
  height: 55vw;
}



/* ////////// section1 ////////// */
#section1 {
  margin: 120px 0;
}
.section1_wrap h2 {
  text-align: center;
}
.section1_wrap .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.section1_wrap .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
  text-align: center;
}
.section1_wrap .swiper-slide img {
  display: block;
  width: 100%;
  padding: 30px;
}
.section1_wrap .swiper-slide .menu_itme {
  width: 370px;
  height: 370px;
  border-radius: 50%;
  background: #f8f8f8;
  cursor: pointer;
}
.section1_wrap .swiper-slide .menu_itme:hover .menu_txt {
  visibility: visible;
  position: absolute;
  width: 370px;
  height: 370px;
  border-radius: 50%;
  background-color: rgba(13, 69, 50,0.85);
  transition-property: background-color;
  transition-duration: .4s;
  transition-timing-function: ease-out;
}
.section1_wrap .swiper-slide .menu_itme .menu_txt  {
  visibility: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_txt .txt01{
  font-family: 'GmarketSans';
  font-size: 40px;
  font-weight: 700;
  color: #FFF; 
}
/* ////////// section2 ////////// */
#section2 {

}
.section2_wrap {
}
.section2_wrap .swiper-container {
	display:flex;
  position: relative;
  z-index: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.section2_wrap .swiper-container::after {
  left: auto;
  right: 0;
}
.section2_wrap .swiper-wrapper {
  display: flex;
  position: relative;
  z-index: 0;
}
.section2_wrap .swiper-wrapper .swiper-slide {
	position: relative;
}
.section2_wrap .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section2_wrap .swiper-wrapper .swiper-slide .text-box {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  text-align: center;
}

.section2_wrap .swiper-wrapper .swiper-slide .section2-title {
  color: white;
  font-size: 38px;
}
.section2_wrap .swiper-wrapper .swiper-slide .section2-txt {
  color: #f8f8f8;
  font-size: 18px;
  margin-top: 20px;
}
/* (1) */
.section2_wrap .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 6px;
}
.section2_wrap .swiper-pagination-bullet {
  width: 50px;
  height: 4px;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
/* (2) */
.section2_wrap .swiper-button-prev,
.section2_wrap .swiper-container-rtl .swiper-button-next {
  left: 0;
}
.section2_wrap .swiper-button-next,
.section2_wrap .swiper-container-rtl .swiper-button-prev {
  right: 0;
}
.section2_wrap .swiper-button-next,
.section2_wrap .swiper-button-prev {
  top: 0;
  margin-top: 0;
  width: 33.33%;
  height: 100%;
}
.section2_wrap .swiper-button-prev:after,
.section2_wrap .swiper-container-rtl .swiper-button-next:after,
.section2_wrap .swiper-button-next:after,
.section2_wrap .swiper-container-rtl .swiper-button-prev:after {
  content: '';
}


/* ////////// section3 ////////// */
#section3 {
  margin-top: 120px;
  border-bottom: transparent;
}
.section3_wrap  {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.section3_txt {
  margin-right: 160px;
}
.section3_txt p {
  font-size: 18px;
  line-height: 1.6;
  margin: 40px 0 60px 0;
}
.section3_txt button {
  background-color: transparent;
  border: 1px solid #0d4633;
  border-radius: 50px;
  width: 130px;
  height: 40px;
  position: relative;
  text-align: left;
  padding-left: 15px;
  font-size: 16px;
  color: #0d4633;
}
.section3_txt button span {
  background-color: #0d4633;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  right: 5px;
}
.section3_txt button span i {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  transform: translateX(0);
  transition: all .5s;
}
.section3_txt button span:hover i{
  transform: translateX(5px);
}


/* ////////// section4 ////////// */
#section4 {
  padding: 120px 0;
  background-color: #F7F0DA;
}
.section4_wrap h2 {
  text-align: center;
}
.instagram {
  display: flex;
  grid-gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 80px 0 0 0;
}
.instagram li {
  flex-basis: calc(100% / 4 - 90px / 4);
}
.instagram li a {
  display: block;
}
.instagram li img {
  width: 100%;
}

/* ////////// section5 ////////// */
#section5 {
  padding: 80px 0 0 0;
  background-color: #c7bfa4;
}


/* ////////// footer ////////// */
footer {
  background-color: #333;
}
.footer_wrap {
  text-align: center;
  color: #fff;
  padding: 30px 0;
}
.ft_logo {
  margin-bottom: 20px;
}
.ft_logo img {
  transform: scale(0.7);
}
.info_wrap {
  font-size: 16px;
}
.info_wrap .info02 {
  margin: 10px 0 20px;
  font-weight: bold;
}
.info_wrap .info02 > p {
  margin: 5px 0;
  padding: 0 5px;
  display: inline-block;
}
.info_wrap .info02 > p > a {
  color: #fff;
}
.info_link {

}
.info_link ul {
  
}
.info_link ul li {
  display: inline-block;
  margin: 0 5px;
  padding: 10px 20px;
  text-align: center;
  border: 1px solid #777;
}
.info_link ul li a {
  font-size: 13px;
  color: #fff;
}

.info_sns {
  padding-top: 20px;
}
.info_sns ul li {
  display: inline-block;
  margin: 0 10px;
}
.info_sns ul li a {
  font-size: 28px;
  color: #fff;
}



/* popup */
.popup { 
  position:absolute; 
  top:50%; 
  left:50%;
  transform:translate(-50%, -50%);
  background:#fff;
  border-radius:16px;
  text-align:center;
  padding:40px 20px;
  z-index:999;
  box-shadow: 4px 4px 9px rgba(0,0,0,0.3);
  display: none;
}
.popup img {
  border-radius: 16px;
  margin: 10px 0;
}
.popup h5 {
  font-size: 21px;
  padding: 20px 0;
}
.popup p {
  font-size: 16px;
  line-height: 1.6;
}
.popup .btn_close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
}
.popup .close {
  display:inline-block;
  width: 24px;
  height: 24px;
  background-position:-396px -514px;
  font-size: 21px;
  color: #0d4633;
}
.popup button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.popup .btn_link {
  width: 60%;
  padding: 15px;
  background-color: #0d4633;
  color: #fff;
  margin-top: 40px;
  border-radius: 10px;
}