@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100;8..144,300;8..144,400;8..144,500;8..144,600&display=swap');

/* event_list */
#header nav ul li a {
  color: #222;
}
.hamburger-button span{
  position: absolute;
  height: 2px;
  width: 100%;
  background: #0d4633;
  top: 0;
  transition: .2s;
}

.sub_container {
  position: relative;
  margin-bottom: 100px;
}

.subMenu {
  width: 100%;
  padding: 175px 0 50px;
}
.subMenu h2 {
  color: #0d4633;
  text-align: center;
}
.sub_menu {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.sub_menu li {
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.sub_menu .acitve > a {
  color: #0d4633;
  font-weight: 700;
}
.sub_menu li a {
  color: #666;
}
.sub_menu li:hover a:before, .sub_menu li.active a:before {
  width: 100%;
}
.sub_menu li a:before {
  width: 0;
  height: 2px;
  background: #0d4633;
  content: "";
  display: block;
  position: Absolute;
  bottom: 0;
  left: 0;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/*  */
.event_list {

}
.event_list ul{
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.event_list ul li{
  flex-basis: calc(100% / 3 - 80px / 3);
  border: 1px solid #e1e1e1;
}
.event_list ul li a{
  
}
.event_list ul li a img{
  width: 100%;
}
.event_content{
  padding: 40px 30px;
}
.event_content .event_txt{
  font-size: 24px;
  color: #333;
  font-weight: 400;
  height: 64px;
}
.event_content .event_date{
  font-size: 19px;
  color: #9f9f9f;
  font-weight: 300;
}

/* brand story */
/* event_list */

.sub_container {
  position: relative;
  margin-bottom: 100px;
}

.Brand{
  width: 100%;
  padding: 95px 0 50px;
  background-color: #0d4633;
  position: relative;
  margin-top: 80px;
  overflow: hidden;
}
.Brand h2 {
  color: #FFF;
  text-align: center;
}
.Brand .sub_menu {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.Brand .sub_menu li {
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.Brand .sub_menu .acitve > a {
  color: #FFF;
  font-weight: 700;
}
.Brand .sub_menu li a {
  color: #FFF;
}
.brand_title {
  position: relative;
  margin-top: 100px;
  z-index: 99;
}
.Brand .brand_img {
  position: absolute;
  bottom: 0;
  left: calc(50% - 125px);
  z-index: 9;
  transition: all .9s;
  opacity: 1;
  transform: translate(-50%, -50%);
  transform: translateY(0px);
}
.Brand .roll {
  opacity: 1;
  transform: translateY(200px);
}
.Brand .brand_img img {
  width: 250px;
  text-align: center;
  z-index: 9;
}


.brand_txt {
  font-family: 'Roboto Serif', serif;
  font-size: 100px;
  text-shadow: 7px 5px 13px rgba(0,0,0,0.3);
  color: #fff;
  text-align: center;
  font-style: italic;
  letter-spacing: -5px;
}

.brand_wrap {
  padding: 100px 0 0 0;
}
.story01 {
  display: flex;
  gap: 60px;
}
.story01_1, .story01_2 {
  width: 50%;
}
.story01_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.story01_1 img:nth-of-type(1) {
  width: 80%;
  margin: 0 auto;
}
.story01_1 img:nth-of-type(2) {
  width: 100%;
  margin-top: 80px;
}
.story01_1_txt {
  padding-top: 80px;
}
.story01_1_txt h3 {
  font-size: 48px;
  font-weight: 200;
  letter-spacing: -3px;
}
.story01_1_txt p {
  font-size: 18px;
  margin-top: 30px;
  line-height: 1.5;
}
.story01_1_txt h3 b {
  font-weight: bold;
}
.story01_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.story01_2 img {
  width: 100%;
}
.story01_2 img:nth-of-type(2) {
  width: 80%;
  margin-top: 80px;
}